              {{#if products.length}}
              <hr>
              <h4 class="text-center">Productos Ingresados</h4>
              {{#each products}}
    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10">

                <div class="row p-2 bg-white border rounded">
                    <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src={{this.foto}}></div>
                    <div class="col-md-6 mt-1">
                        <h5>{{this.nombre}}</h5>
                        <div class="d-flex flex-row">
                            <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><br>
                        </div>
                        <div class="mt-1 mb-1 spec-1"><span class="dot"></span><span>Codigo:{{this.codigo}}</span></div>
                        <div class="mt-1 mb-1"><h5><span class="dot"></span>Stock: {{this.stock}}</h5></div><br>
                        <p class="text-justify text-truncate para mb-0"><p>Descripcion del Producto: {{this.descripcion}} </p><br><br></p>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h4 class="mr-1">${{this.precio}} </h4>
                        </div>
                        <h6 class="text-success">Envio Gratis</h6>
                        <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button" onclick=btnagregarCarrito({{this.id}}) value={{this.id}} >Agregar al Carrito</button><button class="btn btn-success btn-sm mt-1" type="button" onclick=editar({{this.id}})>Editar Producto</button><button class="btn btn-outline-danger btn-sm mt-2" type="button" onclick=deleteProduct({{this.id}})>Borrar producto</button></div>
                    </div>
                </div>
          </div>
        </div>
    </div>
    <div id={{this.id}}></div>

              {{/each}}
              <hr>     
              {{/if}}
             
              {{#unless products.length}}
               <hr>
                        <h4 class="text-center">No Hay Productos Guardados</h4>
              {{/unless}}
